<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <script type="module" src="./navigation.js"></script>
    <title>Navigation</title>
  </head>
  <body>
    <h1>네비게이션 바</h1>
    <div class="nav-container">
      <ul class="nav-list flex items-center justify-between">
        <li class="manu" --data-nav-name="Experience">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="manu" --data-nav-name="book">
          <a class="nav-link" href="#book">Book</a>
        </li>
        <li class="manu" --data-nav-name="awards">
          <a class="nav-link" href="#awards">Awards</a>
        </li>
        <li class="manu" --data-nav-name="work">
          <a class="nav-link" href="#work">Work</a>
        </li>
        <li class="manu" --data-nav-name="content">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="manu" --data-nav-name="portfolio">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="manu" --data-nav-name="Articles">
          <a class="nav-link" href="#articles">Articles</a>
        </li>
      </ul>
    </div>

    <div id="experience">
      <h2 style="font-size: 3rem">experience</h2>
      <p style="font-size: 2rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos
        voluptatum! Libero iusto minus voluptate aspernatur officiis sit
        accusamus accusantium, quaerat perspiciatis consectetur ut dicta
        expedita beatae quasi nulla fugit. Quisquam tempora nisi eos cum,
        consectetur eum pariatur, expedita aliquid tempore quidem blanditiis
        cupiditate labore? Exercitationem explicabo nobis veritatis quos culpa
        animi quia esse omnis eius minus, consequatur, mollitia nostrum! Quia
        eligendi, rem magnam quos, sit nulla distinctio accusantium officia vero
        repellat amet repellendus facilis reprehenderit obcaecati doloremque
        doloribus, consequuntur possimus fugiat magni eaque ipsum voluptatem
        beatae praesentium! Laudantium, sint. Hic aperiam nesciunt id, fugiat ut
        ipsam odio esse reprehenderit libero enim rerum tempora quos facilis!
        Cum qui et necessitatibus. Ipsa placeat, quae exercitationem odio
        deleniti corrupti harum nisi saepe. Repellat ut aliquam nobis sit
        nostrum et explicabo fuga! Ducimus beatae aperiam nihil, similique quia
        corporis voluptatibus aliquid ipsam soluta, aliquam, cupiditate aut.
        Rerum doloremque, amet ipsam atque ducimus aperiam? Rem dolores quaerat
        accusantium ab amet itaque corrupti error harum, magni distinctio
        facilis obcaecati recusandae rerum. Fugiat reprehenderit autem incidunt
        sit culpa suscipit debitis cumque ducimus. Facere, omnis nisi? Quidem.
        Expedita quidem officiis voluptas doloremque recusandae libero adipisci
        ab. Repudiandae possimus alias fugit omnis blanditiis odit nemo suscipit
        expedita optio! Modi unde omnis ut placeat! Vero repellat iste debitis
        temporibus! Unde veniam deleniti minus. Nobis provident magni enim,
        voluptatem animi necessitatibus itaque commodi perspiciatis porro
        corporis nemo. Reprehenderit hic libero nihil, assumenda vel,
        reiciendis, ullam soluta eum facilis mollitia deleniti. Ipsa
        necessitatibus repellat, vel, commodi tenetur voluptatibus itaque
        aspernatur ducimus sequi laudantium quos quisquam reiciendis provident
        rerum? Deleniti laboriosam ex aut at expedita cum provident facere
        possimus maiores. Totam, nihil? Corrupti, ullam perferendis maxime
        blanditiis repellat aut qui assumenda. Saepe suscipit minima ipsa
        deserunt, provident commodi ab, placeat, pariatur vitae porro illo nemo
        fuga aliquam tenetur hic temporibus? Ab, vel?
      </p>
    </div>
    <div id="book">
      <h2 style="font-size: 3rem">book</h2>
      <p style="font-size: 2rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos
        voluptatum! Libero iusto minus voluptate aspernatur officiis sit
        accusamus accusantium, quaerat perspiciatis consectetur ut dicta
        expedita beatae quasi nulla fugit. Quisquam tempora nisi eos cum,
        consectetur eum pariatur, expedita aliquid tempore quidem blanditiis
        cupiditate labore? Exercitationem explicabo nobis veritatis quos culpa
        animi quia esse omnis eius minus, consequatur, mollitia nostrum! Quia
        eligendi, rem magnam quos, sit nulla distinctio accusantium officia vero
        repellat amet repellendus facilis reprehenderit obcaecati doloremque
        doloribus, consequuntur possimus fugiat magni eaque ipsum voluptatem
        beatae praesentium! Laudantium, sint. Hic aperiam nesciunt id, fugiat ut
        ipsam odio esse reprehenderit libero enim rerum tempora quos facilis!
        Cum qui et necessitatibus. Ipsa placeat, quae exercitationem odio
        deleniti corrupti harum nisi saepe. Repellat ut aliquam nobis sit
        nostrum et explicabo fuga! Ducimus beatae aperiam nihil, similique quia
        corporis voluptatibus aliquid ipsam soluta, aliquam, cupiditate aut.
        Rerum doloremque, amet ipsam atque ducimus aperiam? Rem dolores quaerat
        accusantium ab amet itaque corrupti error harum, magni distinctio
        facilis obcaecati recusandae rerum. Fugiat reprehenderit autem incidunt
        sit culpa suscipit debitis cumque ducimus. Facere, omnis nisi? Quidem.
        Expedita quidem officiis voluptas doloremque recusandae libero adipisci
        ab. Repudiandae possimus alias fugit omnis blanditiis odit nemo suscipit
        expedita optio! Modi unde omnis ut placeat! Vero repellat iste debitis
        temporibus! Unde veniam deleniti minus. Nobis provident magni enim,
        voluptatem animi necessitatibus itaque commodi perspiciatis porro
        corporis nemo. Reprehenderit hic libero nihil, assumenda vel,
        reiciendis, ullam soluta eum facilis mollitia deleniti. Ipsa
        necessitatibus repellat, vel, commodi tenetur voluptatibus itaque
        aspernatur ducimus sequi laudantium quos quisquam reiciendis provident
        rerum? Deleniti laboriosam ex aut at expedita cum provident facere
        possimus maiores. Totam, nihil? Corrupti, ullam perferendis maxime
        blanditiis repellat aut qui assumenda. Saepe suscipit minima ipsa
        deserunt, provident commodi ab, placeat, pariatur vitae porro illo nemo
        fuga aliquam tenetur hic temporibus? Ab, vel?
      </p>
    </div>
    <div id="awards">
      <h2 style="font-size: 3rem">Awards</h2>
      <p style="font-size: 2rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos
        voluptatum! Libero iusto minus voluptate aspernatur officiis sit
        accusamus accusantium, quaerat perspiciatis consectetur ut dicta
        expedita beatae quasi nulla fugit. Quisquam tempora nisi eos cum,
        consectetur eum pariatur, expedita aliquid tempore quidem blanditiis
        cupiditate labore? Exercitationem explicabo nobis veritatis quos culpa
        animi quia esse omnis eius minus, consequatur, mollitia nostrum! Quia
        eligendi, rem magnam quos, sit nulla distinctio accusantium officia vero
        repellat amet repellendus facilis reprehenderit obcaecati doloremque
        doloribus, consequuntur possimus fugiat magni eaque ipsum voluptatem
        beatae praesentium! Laudantium, sint. Hic aperiam nesciunt id, fugiat ut
        ipsam odio esse reprehenderit libero enim rerum tempora quos facilis!
        Cum qui et necessitatibus. Ipsa placeat, quae exercitationem odio
        deleniti corrupti harum nisi saepe. Repellat ut aliquam nobis sit
        nostrum et explicabo fuga! Ducimus beatae aperiam nihil, similique quia
        corporis voluptatibus aliquid ipsam soluta, aliquam, cupiditate aut.
        Rerum doloremque, amet ipsam atque ducimus aperiam? Rem dolores quaerat
        accusantium ab amet itaque corrupti error harum, magni distinctio
        facilis obcaecati recusandae rerum. Fugiat reprehenderit autem incidunt
        sit culpa suscipit debitis cumque ducimus. Facere, omnis nisi? Quidem.
        Expedita quidem officiis voluptas doloremque recusandae libero adipisci
        ab. Repudiandae possimus alias fugit omnis blanditiis odit nemo suscipit
        expedita optio! Modi unde omnis ut placeat! Vero repellat iste debitis
        temporibus! Unde veniam deleniti minus. Nobis provident magni enim,
        voluptatem animi necessitatibus itaque commodi perspiciatis porro
        corporis nemo. Reprehenderit hic libero nihil, assumenda vel,
        reiciendis, ullam soluta eum facilis mollitia deleniti. Ipsa
        necessitatibus repellat, vel, commodi tenetur voluptatibus itaque
        aspernatur ducimus sequi laudantium quos quisquam reiciendis provident
        rerum? Deleniti laboriosam ex aut at expedita cum provident facere
        possimus maiores. Totam, nihil? Corrupti, ullam perferendis maxime
        blanditiis repellat aut qui assumenda. Saepe suscipit minima ipsa
        deserunt, provident commodi ab, placeat, pariatur vitae porro illo nemo
        fuga aliquam tenetur hic temporibus? Ab, vel?
      </p>
    </div>
    <div id="work">
      <h2 style="font-size: 3rem">Work</h2>
      <p style="font-size: 2rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos
        voluptatum! Libero iusto minus voluptate aspernatur officiis sit
        accusamus accusantium, quaerat perspiciatis consectetur ut dicta
        expedita beatae quasi nulla fugit. Quisquam tempora nisi eos cum,
        consectetur eum pariatur, expedita aliquid tempore quidem blanditiis
        cupiditate labore? Exercitationem explicabo nobis veritatis quos culpa
        animi quia esse omnis eius minus, consequatur, mollitia nostrum! Quia
        eligendi, rem magnam quos, sit nulla distinctio accusantium officia vero
        repellat amet repellendus facilis reprehenderit obcaecati doloremque
        doloribus, consequuntur possimus fugiat magni eaque ipsum voluptatem
        beatae praesentium! Laudantium, sint. Hic aperiam nesciunt id, fugiat ut
        ipsam odio esse reprehenderit libero enim rerum tempora quos facilis!
        Cum qui et necessitatibus. Ipsa placeat, quae exercitationem odio
        deleniti corrupti harum nisi saepe. Repellat ut aliquam nobis sit
        nostrum et explicabo fuga! Ducimus beatae aperiam nihil, similique quia
        corporis voluptatibus aliquid ipsam soluta, aliquam, cupiditate aut.
        Rerum doloremque, amet ipsam atque ducimus aperiam? Rem dolores quaerat
        accusantium ab amet itaque corrupti error harum, magni distinctio
        facilis obcaecati recusandae rerum. Fugiat reprehenderit autem incidunt
        sit culpa suscipit debitis cumque ducimus. Facere, omnis nisi? Quidem.
        Expedita quidem officiis voluptas doloremque recusandae libero adipisci
        ab. Repudiandae possimus alias fugit omnis blanditiis odit nemo suscipit
        expedita optio! Modi unde omnis ut placeat! Vero repellat iste debitis
        temporibus! Unde veniam deleniti minus. Nobis provident magni enim,
        voluptatem animi necessitatibus itaque commodi perspiciatis porro
        corporis nemo. Reprehenderit hic libero nihil, assumenda vel,
        reiciendis, ullam soluta eum facilis mollitia deleniti. Ipsa
        necessitatibus repellat, vel, commodi tenetur voluptatibus itaque
        aspernatur ducimus sequi laudantium quos quisquam reiciendis provident
        rerum? Deleniti laboriosam ex aut at expedita cum provident facere
        possimus maiores. Totam, nihil? Corrupti, ullam perferendis maxime
        blanditiis repellat aut qui assumenda. Saepe suscipit minima ipsa
        deserunt, provident commodi ab, placeat, pariatur vitae porro illo nemo
        fuga aliquam tenetur hic temporibus? Ab, vel?
      </p>
    </div>
    <div id="contact">
      <h2 style="font-size: 3rem">Contact</h2>
      <p style="font-size: 2rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eos
        voluptatum! Libero iusto minus voluptate aspernatur officiis sit
        accusamus accusantium, quaerat perspiciatis consectetur ut dicta
        expedita beatae quasi nulla fugit. Quisquam tempora nisi eos cum,
        consectetur eum pariatur, expedita aliquid tempore quidem blanditiis
        cupiditate labore? Exercitationem explicabo nobis veritatis quos culpa
        animi quia esse omnis eius minus, consequatur, mollitia nostrum! Quia
        eligendi, rem magnam quos, sit nulla distinctio accusantium officia vero
        repellat amet repellendus facilis reprehenderit obcaecati doloremque
        doloribus, consequuntur possimus fugiat magni eaque ipsum voluptatem
        beatae praesentium! Laudantium, sint. Hic aperiam nesciunt id, fugiat ut
        ipsam odio esse reprehenderit libero enim rerum tempora quos facilis!
        Cum qui et necessitatibus. Ipsa placeat, quae exercitationem odio
        deleniti corrupti harum nisi saepe. Repellat ut aliquam nobis sit
        nostrum et explicabo fuga! Ducimus beatae aperiam nihil, similique quia
        corporis voluptatibus aliquid ipsam soluta, aliquam, cupiditate aut.
        Rerum doloremque, amet ipsam atque ducimus aperiam? Rem dolores quaerat
        accusantium ab amet itaque corrupti error harum, magni distinctio
        facilis obcaecati recusandae rerum. Fugiat reprehenderit autem incidunt
        sit culpa suscipit debitis cumque ducimus. Facere, omnis nisi? Quidem.
        Expedita quidem officiis voluptas doloremque recusandae libero adipisci
        ab. Repudiandae possimus alias fugit omnis blanditiis odit nemo suscipit
        expedita optio! Modi unde omnis ut placeat! Vero repellat iste debitis
        temporibus! Unde veniam deleniti minus. Nobis provident magni enim,
        voluptatem animi necessitatibus itaque commodi perspiciatis porro
        corporis nemo. Reprehenderit hic libero nihil, assumenda vel,
        reiciendis, ullam soluta eum facilis mollitia deleniti. Ipsa
        necessitatibus repellat, vel, commodi tenetur voluptatibus itaque
        aspernatur ducimus sequi laudantium quos quisquam reiciendis provident
        rerum? Deleniti laboriosam ex aut at expedita cum provident facere
        possimus maiores. Totam, nihil? Corrupti, ullam perferendis maxime
        blanditiis repellat aut qui assumenda. Saepe suscipit minima ipsa
        deserunt, provident commodi ab, placeat, pariatur vitae porro illo nemo
        fuga aliquam tenetur hic temporibus? Ab, vel?
      </p>
    </div>
  </body>
</html>
