@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.header-div-page1 {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(
    270deg,
    #0f0c29,
    #302b63,
    #24243e,
    #1b1b2f,
    #3a0ca3,
    #7209b7
  );

  background-size: 1000% 1000%;
  animation: wave 20s ease infinite;
  position: relative;

  @media (width>1280px) {
    h1 {
      height: 100%;
      padding-bottom: 5%;

      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      & div:first-child {
        display: flex;
        gap: 10%;
      }

      & div:nth-child(2) {
        display: flex;
        width: 1425px;
        gap: 65%;
        justify-content: space-between;

        & p:nth-child(1) {
          font-size: 30px;
          text-align: start;
        }

        & p:nth-child(2) {
          font-size: 50px;
        }
      }
    }
  }

  span {
    --center-left: 46%;
    --center-top: 23%;
    --center-circle: 150px;
    --line-sm: 400px;
    --line-m: 600px;
    --side-circle: 50px;
    --orbit-width: 1000px;

    --extend-y: 98%;

    display: block;
    position: absolute;
    background: var(--white);

    @media (width < 1280px) {
      --center-left: 45%;
      --center-top: 40%;
      --center-circle: 70px;
      --line-sm: 320px;
      --line-m: 170px;
      --side-circle: 20px;
      --orbit-width: 500px;
      --extend-y: 70%;

      &.main-span-extendLineX {
        display: none;
      }
    }
  }

  .main-span-lineSm {
    width: var(--line-sm);
    height: 1px;
    top: calc(var(--center-top) + var(--center-circle) / 2);
    left: calc(
      (var(--center-left) + var(--center-circle) / 2) - (var(--line-sm) / 2)
    );
  }

  .main-span-lineM {
    width: var(--line-m);
    height: 1px;
    top: calc(var(--center-top) + var(--center-circle) / 2);
    left: calc(
      var(--center-left) + var(--center-circle) / 2 - var(--line-m) / 2
    );
  }

  .side-circle {
    width: var(--side-circle);
    aspect-ratio: 1;
    border-radius: 50%;
    top: calc(
      var(--center-top) + var(--center-circle) / 2 - var(--side-circle) / 2
    );
  }

  /* circle */
  & span:nth-of-type(1) {
    z-index: 999;
    width: var(--center-circle);
    height: var(--center-circle);
    border-radius: 50%;
    top: var(--center-top);
    left: var(--center-left);
  }

  /* extend-line-x */
  & span:nth-of-type(2) {
    top: calc(var(--center-top) + var(--center-circle) / 2);
    left: 10%;
    width: 80%;
    height: 2px;
  }

  /* extend-line-y */
  & span:nth-of-type(3) {
    top: 1%;
    left: calc(var(--center-left) + var(--center-circle) / 2);
    height: var(--extend-y);
    width: 2px;

    @media (width<1280px) {
      height: var(--extend-y);
      top: 10%;
    }
  }

  /* line-sm */
  & span:nth-of-type(4) {
    transform: rotate(-20deg);
  }
  & span:nth-of-type(5) {
    transform: rotate(20deg);
  }
  & span:nth-of-type(6) {
    transform: rotate(-60deg);
  }
  & span:nth-of-type(7) {
    transform: rotate(60deg);
  }

  /* line-m */
  & span:nth-of-type(8) {
    transform: rotate(-75deg);
  }
  & span:nth-of-type(9) {
    transform: rotate(75deg);
  }
  & span:nth-of-type(10) {
    transform: rotate(-45deg);
  }
  & span:nth-of-type(11) {
    transform: rotate(45deg);
  }

  /* side-circle */
  & span:nth-of-type(12) {
    left: 10%;

    @media (width<1280px) {
      left: calc(
        var(--center-left) + var(--center-circle) / 2 - var(--side-circle) / 2 +
          0.6px
      );
      top: calc(
        (var(--center-top) + var(--center-circle) / 2) - var(--extend-y) / 2
      );
    }
  }
  & span:nth-of-type(13) {
    left: 90%;

    @media (width<1280px) {
      left: calc(
        var(--center-left) + var(--center-circle) / 2 - var(--side-circle) / 2 +
          1px
      );
      top: calc(
        var(--center-top) + var(--center-circle) / 2 + var(--extend-y) / 2
      );
    }
  }

  .orbit {
    background: transparent;
    top: calc(
      var(--center-top) + var(--center-circle) / 2 - var(--orbit-width) / 2
    );

    svg {
      min-width: var(--orbit-width);
      aspect-ratio: 1;
    }

    .orbit-path {
      fill: none;
      stroke: #888;
      stroke-dasharray: 6 6;
      stroke-width: 1.5;
    }

    .page_1-planet {
      fill: var(--white);
      stroke-width: 1.5;
    }

    .page_1-planet2 {
      stroke-width: 1.5;
    }
  }

  & span:nth-of-type(14) {
    z-index: 1;
    left: calc(
      (var(--center-left) + var(--center-circle) / 2) - var(--orbit-width) / 2
    );
  }
}

/* 모바일  */
@media (width < 1280px) {
  .header-div-page1 {
    .header_div-title {
      svg {
        position: absolute;
        transform: rotate(90deg);
      }

      & svg:nth-child(1) {
        top: 10vh;
        left: -13%;
        width: 50%;
      }

      & svg:nth-child(2) {
        top: 53vh;
        left: 55%;
        width: 60%;
      }
    }

    .header_p-title {
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: end;
      padding: 0px;
      margin-inline-start: 10vw;
      padding-bottom: 23vh;

      & p:nth-child(1) {
        order: 2;
        font-size: 9px;
        width: 120px;
      }
      & p:nth-child(2) {
        font-size: 20px;
      }
    }
  }
}
