<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <title>행성 비교</title>
  </head>
  <body>
    <section class="page-1">
      <h1>태양계의 행성 크기 비교</h1>
    </section>
    <section class="page_5-container" aria-label="행성 크기 비교 페이지">
      <ul class="planet__contents">
        <li class="title">
          <h1>
            Panet size comparison
            <p>
              "The size differences between planets are made to match actual
              proportions."
            </p>
            <p>"행성 간의 크기 차이는 실제 비율에 맞게 만들어졌습니다."</p>
          </h1>
        </li>
        <li class="planet mercury">
          <img src="/public/planet/mercury_fill.svg" alt="Mercury" />
          <p>Mercury : 수성</p>
          <div class="is-active">
            <p>4,880 km</p>
            <p>지구와의 반지름 비율 : 0.4</p>
          </div>
        </li>
        <li class="planet mars">
          <img src="/public/planet/mars_fill.svg" alt="Mars" />
          <p>Mars : 화성</p>
          <div class="is-active">
            <p>6,779 km</p>
            <p>지구와의 반지름 비율 : 0.5</p>
          </div>
        </li>
        <li class="planet venus">
          <img src="/public/planet/venus_fill.svg" alt="Venus" />
          <p>Venus : 금성</p>
          <div class="is-active">
            <p>12,104 km</p>
            <p>지구와의 반지름 비율 : 0.9</p>
          </div>
        </li>
        <li class="planet earth">
          <img src="/public/planet/earth_fill.webp" alt="Earth" />
          <p>Earth : 지구</p>
          <div class="is-active">
            <p>12,742 km</p>
          </div>
        </li>
        <li class="planet neptune">
          <img src="/public/planet/neptune_fill.svg" alt="Neptune" />
          <p>Neptune : 해왕성</p>
          <div class="is-active">
            <p>49,000 km</p>
            <p>지구와의 비율 : 3.9</p>
          </div>
        </li>
        <li class="planet uranus">
          <img src="/public/planet/uranus_fill.svg" alt="Uranus" />
          <p>Uranus : 천왕성</p>
          <div class="is-active">
            <p>51,000 km</p>
            <p>지구와의 비율 : 4.0</p>
          </div>
        </li>
        <li class="planet saturn">
          <img src="/public/planet/saturn_fill.svg" alt="Saturn" />
          <p>Saturn : 토성</p>
          <div class="is-active">
            <p>120,000 km</p>
            <p>지구와의 비율 : 9.4</p>
          </div>
        </li>
        <li class="planet jupiter">
          <img src="/public/planet/jupiter_fill.svg" alt="Jupiter" />
          <p>Jupiter : 목성</p>
          <div class="is-active">
            <p>140,000 km</p>
            <p>지구와의 비율 : 11.2</p>
          </div>
        </li>
        <li class="planet sun">
          <img src="/public/planet/sun.svg" alt="Sun" />
          <p class="sun-name">The Sun : 태양</p>
          <p class="description">
            <span>
              The Sun accounts for the majority of the solar system's mass,
              approximately 99.86%. The remainder is shared among other
              celestial bodies, including planets, satellites, asteroids, and
              comets. The Sun's mass is approximately 2 x 10^30 kg, or about
              330,000 times that of the Earth. The mass of other celestial
              bodies accounts for only about 0.134% of the Sun's mass. Planets
              make up the majority of this mass, followed by satellites,
              asteroids, and comets.
            </span>
            <span>
              태양계 전체 질량의 대부분, 약 <strong>99.86%</strong>는 태양이
              차지하고 있습니다. 나머지 질량은 행성, 위성, 소행성, 혜성 등 다른
              천체들이 나눠 가지고 있습니다. 태양의 질량은 약 2 x 10^30 kg으로
              지구 질량의 약 <strong>33만</strong> 배에 달합니다. 태양을 제외한
              다른 천체들의 질량은 태양 질량의 <strong>0.134%</strong> 정도에
              불과합니다. 이 중 행성들이 대부분을 차지하며, 위성, 소행성, 혜성
              등이 그 뒤를 잇습니다
            </span>
          </p>
          <div class="is-active">
            <p>1,392,000 km</p>
            <p>지구와의 비율 : 109</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="page-3"></section>

    <script src="./planet-comparison.js"></script>
    <!-- <script src="./repactoring.js"></script> -->
  </body>
</html>
