<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <title>행성 비교</title>
  </head>
  <body>
    <section class="page-1">sddfdfsdfsdff</section>
    <section class="page_5-container" aria-label="행성 크기 비교 페이지">
      <ul class="planet__contents">
        <li class="planet mercury" data-scale="0.4">
          <img src="/public/planet/mercury_fill.svg" alt="Mercury" />
          <p>Mercury : 수성</p>
        </li>
        <li class="planet mars" data-scale="0.5">
          <img src="/public/planet/mars_fill.svg" alt="Mars" />
          <p>Mars : 화성</p>
        </li>
        <li class="planet venus" data-scale="0.9">
          <img src="/public/planet/venus_fill.svg" alt="Venus" />
          <p>Venus : 금성</p>
        </li>
        <li class="planet earth" data-scale="1">
          <img src="/public/planet/earth_fill.webp" alt="Earth" />
          <p>Earth : 지구</p>
        </li>
        <li class="planet neptune" data-scale="3.9">
          <img src="/public/planet/neptune_fill.svg" alt="Neptune" />
          <p>Neptune : 해왕성</p>
        </li>
        <li class="planet uranus" data-scale="4.0">
          <img src="/public/planet/uranus_fill.svg" alt="Uranus" />
          <p>Uranus : 천왕성</p>
        </li>
        <li class="planet saturn" data-scale="9.4">
          <img src="/public/planet/saturn_fill.svg" alt="" />
          <p>Saturn : 토성</p>
        </li>
        <li class="planet jupiter" data-scale="11.2">
          <img src="/public/planet/jupiter_fill.svg" alt="Jupiter" />
          <p>Jupiter : 목성</p>
        </li>
        <li class="planet sun" data-scale="109">
          <img src="/public/planet/sun.svg" alt="Sum" />
          <p>Sum : 태양</p>
        </li>
      </ul>
    </section>
    <section class="page-3"></section>

    <script src="./planet-comparison.js"></script>
  </body>
</html>
