* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-1 {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.page-3 {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

/* 행성 박스 */
.page_5-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 비교 박스 */
.planet__contents {
  --planet-gap: 20vw;

  width: max-content;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: end;
  gap: var(--planet-gap);
  padding-left: 20vw;

  /* 화면 제어 */

  transform-origin: bottom left;

  /* transition: transform 0.3s ease-in-out; */
}

.planet {
  --default-margin: 23vw;
  width: 500px;

  p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 700;
  }
}

.venus {
  margin-left: calc(var(--default-margin) / 1);
}

.earth {
  margin-left: calc(var(--default-margin) * 2.8);
}

.neptune {
  margin-left: calc(var(--default-margin) * 7);
}

.uranus {
  margin-left: calc(var(--default-margin) * 21);
}

.saturn {
  margin-left: calc(var(--default-margin) * 22);
}

.jupiter {
  margin-left: calc(var(--default-margin) * 50);
}

.sun {
  margin-left: calc(var(--default-margin) * 100);
  display: flex;
  justify-content: center;
  align-self: start;
  position: relative;

  img {
    order: 2;
  }
  p {
    position: absolute;
    order: 1;
    top: 0;
    left: 0;
    /* width: 1000px; */
  }
}
