*,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

.intro-main-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  /* height: max-content; */
  position: relative;

  section {
    width: 100%;
    height: 100vh;
  }

  .intro-div-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      opacity: 0.6;
      background-image: url(../../public/background-img/background.jpg);
      background-position: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 15rem;
      order: 1;
      z-index: 1;
    }

    h2 {
      z-index: 1;
      font-weight: 500;
      font-size: 3rem;
      order: 0;
    }

    P {
      order: 3;
      font-size: 25px;
      color: white;
    }

    h1,
    h2,
    p {
      overflow: hidden;
    }
  }

  .team-section-intro {
    /* width: 100vw;
    height: 100vh; */
    background: purple;
  }
}
