<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>2page</title>

  <link rel="stylesheet" href="/js_project_team_10/src/style/common/_base.css" />
  <link rel="stylesheet" href="/js_project_team_10/src/style/common/_normalize.css" />
  <link rel="stylesheet" href="./sun-tracking.css" />
  <script defer src="./sun-tracking.js"></script>
</head>

<body class="sun-page">
  <div class="sun-wrapper">
    <svg class="sun-graphic" width="305" height="305" viewBox="0 0 305 305" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g>
        <path
          d="M152.3 274.36C219.712 274.36 274.36 219.712 274.36 152.3C274.36 84.8881 219.712 30.24 152.3 30.24C84.8884 30.24 30.2402 84.8881 30.2402 152.3C30.2402 219.712 84.8884 274.36 152.3 274.36Z"
          fill="#FFCB4B" />
        <path id="sun-ring"
          d="M152.3 302.34C235.165 302.34 302.34 235.165 302.34 152.3C302.34 69.4352 235.165 2.26001 152.3 2.26001C69.435 2.26001 2.25977 69.4352 2.25977 152.3C2.25977 235.165 69.435 302.34 152.3 302.34Z"
          stroke="#E85C0D" stroke-width="4.53" stroke-miterlimit="10" stroke-dasharray="29.46 29.46" />
        <g clip-path="url(#clip0_171_374)" id="face-group"></g>
        <ellipse id="left-eye" cx="125" cy="130" rx="10" ry="17" fill="black" />
        <ellipse id="right-eye" cx="175" cy="130" rx="10" ry="17" fill="black" />
        <path d="M120 180 Q152.5 200 180 180" stroke="black" stroke-width="4" fill="none" />
      </g>
      <defs>
        <clipPath id="clip0_171_374">
          <rect width="304.61" height="304.61" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>

  <div class="sun-description">
    태양계는 태양을 중심으로 하여 그 주위를 공전하는 다양한 <b>천체들</b>로 구성됩니다. 이 천체들은
    태양을 중심으로 한 중력의 영향을 받아 <b>궤도</b>를 형성하며, 주요 구성 요소로는 <b>행성</b>, <b>위성</b>, <b>소행성</b>, <b>혜성</b> 등이 있습니다.<br /><br />
    태양계의 행성들은 태양에서의 거리와 크기에 따라 <b>내행성</b>과 <b>외행성</b>으로 나뉘며, 내행성은 수성, 금성, 지구, 화성으로 구성하고, 외행성은 목성, 토성, 천왕성, 해왕성으로 이루어져
    있습니다.<br /><br />
    또한 이 외에도 왜소행성인 <b>명왕성</b>과 여러 <b>소행성대</b>, 그리고 오르트 구름과 같은 <b>외부 천체</b>들도
    태양계의 중요한 구성 요소로 여겨집니다.
  </div>
</body>

</html>
