.solarSystem {
  position: relative;
  height: 150vh;
  width: 100%;
  background: rgb(28, 28, 28);
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.solarSystem::before {
  content: "";
  position: absolute;
  height: 150vh;
  width: 100%;
  background-image: url("/public/planet/bg.webp");
  background-size: cover;
  background-position: center;
}

.system__button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.system__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(180, 224, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  box-shadow: 0 0 40px 20px rgba(100, 200, 255, 0.5),
    0 0 80px 40px rgba(100, 200, 255, 0.3);
  filter: blur(5px);
}

.system__button:hover::before {
  width: 130%;
  height: 130%;
  opacity: 0.8;
  filter: blur(10px);
}

.system__button img {
  display: block;
  object-fit: contain;
}

/* 태양 */
.system__button.solar {
  left: 0;
}

.system__button.solar img {
  width: 170vw;
}

/* 수성 */
.system__button.mercury img {
  width: 10vw;
  height: 10vw;
}

/* 금성 */
.system__button.venus img {
  width: 15vw;
  height: 15vw;
}

/* 지구 */
.system__button.earth img {
  width: 20vw;
  height: 20vw;
}

/* 화성 */
.system__button.mars img {
  width: 18vw;
  height: 18vw;
}

/* 목성 */
.system__button.jupiter img {
  width: 25vw;
  height: 25vw;
}

/* 토성 */
.system__button.saturn img {
  width: 30vw;
  height: 28vw;
}

/* 천왕성 */
.system__button.uranus img {
  width: 25vw;
  height: 25vw;
}

/* 해왕성 */
.system__button.neptune img {
  width: 15vw;
  height: 15vw;
}

@media screen and (min-width: 1280px) {
  .solarSystem {
    height: 400vh;
  }
  .solarSystem::before {
    height: 400vh;
  }

  .system__button.solar {
    left: 0;
    top: -40%;
    transform: translateY(-50%);
  }

  .system__button.solar img {
    width: 100vw;
  }
}
